.movie-container {
  height: 300px;
  width: 448px;
  margin: 30px 20px;
  float: left;
  background-color: #eee;
  box-shadow: 0px 0px 40px #ddd;

  &.watched {
    opacity: 0.4;
  }

  .poster-container {
    width: 200px;
    height: 300px;
    float: left;
    display: inline;

    .poster {
      width: 100%;
      height: auto;
    }
  }

  .content-wrapper {
    float: left;
    margin: -290px 0 0 210px;
    overflow: auto;
    height: 290px;
    width: 238px;

    .title {
      font-weight: bold;
      font-size: larger;
      margin-bottom: 15px;
    }

    .plot {
      text-align: justify;
    }

    .watched {
      float: right;
      margin-right: 10px;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.header-container {
  border-bottom: 2px solid #CCC;
  margin-bottom: 20px;
  padding: 10px;
  width: 98%;
  height: 30px;

  .content {
    margin: 10px;
    float: right;
  }

  .menu {
    margin: 10px;
    float: left;

    a {
      border: 1px solid #ccc;
      margin: 0px -2px;
      padding: 13px;
      font-weight: bold;

      &.active {
        padding-top: 16px;
        background-color: #ddd;
      }
    }
  }
}

.main-container {
  width: 980px;
  margin: 20px auto 40px;
}